/* All HTML Files */
* {
    font-family: 'Century Gothic';
    color: white;
}

body {
    background: #212529;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    background: #202225;
}

nav {
    margin-top: 15%;
    text-align: right;
    grid-area: main2;
}

.background {
    background: #202225;
    margin: 5%;
    padding: 3%;
    border-radius: 30px;
}

.my_name {
    color: #6597bb;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    grid-area: main;
}

.grid_main {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "main main2";
    align-items: flex-end;
}

.menu_item {
    color: #6597bb;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.menu_item:hover {
    color: gray;
}

.divider {
    background: black;
    height: 5px;
    margin-top: 5px;
}

/* -------------------------------- */
/* All project detail pages */
.hide {
    display:none;
}

.title {
    font-size: 40px;
    margin-bottom: 10px;
}

.language {
    background: cadetblue;
    border-radius: 5px;
    padding: 5px;
}

.gallery {
    box-sizing: border-box;
}

/* Position the image container 
   (needed to position the left 
   and right arrows) */
.gallery_container {
    position: relative;
    margin: 5% 25%;
}

.gallery_img {
    width: 100%;
    vertical-align: middle;
}

/* Number text (1/3 etc) */
.slideNum {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Next & previous buttons */
.prev, .next {
    position: absolute;
    top: 40%;
    padding: 16px;
    margin-top: -50px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color 
   with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Add a pointer when hovering over 
   the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Container for image text */
.caption {
    text-align: center;
    padding: 16px;
    margin: 0;
    color: white;
    background-color: #222;
    font-family: 'Times New Roman';
    font-size: 18px;
}

.thumbnails:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.thumbnail_img {
    float: left;
    width: 16.66%;
    opacity: 0.6;
}

.active, .thumbnail_img:hover {
    opacity: 1;
}

.proj_description {
    margin: 30px 0;
}

/* -------------------------------- */
/* index.html */
.project {
    position: relative;
    width: 300px;
}

.proj_icon {
    width: 100%;
    transition: .5s ease;
}

.project:hover .proj_icon {
    opacity: 0.3;
}

.project:hover .proj_text {
    opacity: 1;
}

.proj_text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
}
