/* All HTML Files */
* {
    font-family: 'Century Gothic';
    color: white;
}

body {
    background: #212529;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    background: #202225;
}

nav {
    margin-top: 15%;
    text-align: right;
    grid-area: main2;
}

.background {
    background: #202225;
    margin: 5%;
    padding: 3%;
    border-radius: 30px;
}

.my_name {
    color: #6597bb;
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    grid-area: main;
}

.grid_main {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "main main2";
    align-items: flex-end;
}

.menu_item {
    color: #6597bb;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.dropdown:hover #proj_button, .menu_item:hover {
    color: gray;
}

.dropdown {
    display: inline-block;
}

.dropdown:hover .project_options, .project_options:hover {
    display: block;
}

.project_options {
    list-style: none;
    display: none;
    position: absolute;
    background-color: #212529;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px;
    margin: 8px;
}

.project_options li{
    width: max-content;
    padding: 2px;
    text-align: left;
}

.divider {
    background: black;
    height: 5px;
    margin-top: 5px;
}

/* -------------------------------- */
/* All project detail pages */
.hide {
    display:none;
}

.title {
    font-size: 40px;
    margin-bottom: 10px;
}

.language {
    background: cadetblue;
    border-radius: 5px;
    padding: 5px;
}

.gallery {
    box-sizing: border-box;
}

/* Position the image container 
   (needed to position the left 
   and right arrows) */
.gallery_container {
    position: relative;
    margin: 5% 25%;
}

.gallery_img {
    width: 100%;
    vertical-align: middle;
}

/* Number text (1/3 etc) */
.slideNum {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Next & previous buttons */
.prev, .next {
    position: absolute;
    top: 40%;
    padding: 16px;
    margin-top: -50px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color 
   with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Add a pointer when hovering over 
   the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Container for image text */
.caption {
    text-align: center;
    padding: 16px;
    margin: 0;
    color: white;
    background-color: #222;
    font-family: 'Times New Roman';
    font-size: 18px;
}

.thumbnails:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.thumbnail_img {
    float: left;
    width: 16.66%;
    opacity: 0.6;
}

.active, .thumbnail_img:hover {
    opacity: 1;
}

.proj_description {
    margin: 30px 0;
}

/* -------------------------------- */
/* index.html */
select {
    padding: 2px;
    background-color: black;
    border-color: black;
}

details {
    margin-top: 20px;
    font-size: 20px;
}

footer {
    border: thin;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #32383e;
    text-align: center;
    padding: 20px;
    margin: 200px 0 50px 50%;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-template-areas: "header header" ". resume" "email email" "language software";
    justify-content: center;
}

.icon_grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.project {
    position: relative;
    width: 300px;
}

.proj_icon {
    width: 100%;
    transition: .5s ease;
}

.project:hover .proj_icon {
    opacity: 0.3;
}

.project:hover .proj_text {
    opacity: 1;
}

.proj_text {
    position: absolute;
    text-decoration: none;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
}

.about_description_title {
    border-bottom: solid;
    border-bottom-color: black;
    padding-bottom: 5px;
    margin: 5px 0px;
}

.about_description{
    margin: 10px 0px;
}

#header_divider {
    height: 7px;
    border: none;
    background-color: black;
}

#top_projects{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 20px;
}

#all_projects {
    margin: 30px 0 0 30px;
}

#proj_categories {
    margin-top: 10px;
}

#select_description {
    font-size: 14px;
}

#body_divider {
    height: 3px;
    border: none;
    background-color: #0f1115;
}

#footer_title {
    grid-area: header;
}

#resume {
    grid-area: resume;
    width: 25px;
    background-color: #ff1919;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    transform: translateX(-25px);
    box-sizing: content-box;
}

#email {
    grid-area: email;
}

#about_languages {
    grid-area: language;
    border: solid;
    border-color: black;
}

#about_software {
    grid-area: software;
    border: solid;
    border-color: black;
}
